[Unit]
Description=UDP Proxy Server with Messages Validation
After=network.target

[Service]
Type=simple
ExecStart=/opt/dispatcher/udp2udp.py
Restart=on-failure
RestartSec=15
CapabilitiesParsec=PARSEC_CAP_PRIV_SOCK

[Install]
WantedBy=multi-user.target
